/* ================================= 
  Base Element Styles
==================================== */
body {
  background-color: #28F4BB;
  font-family: 'Ubuntu', sans-serif;
}

/*================================== 
---Image gallery lightbox styles---
===================================== */
#overlay {
  background:rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  display:none;
  text-align:center;
}
/* ---space from top of overlay--- */
#overlay img {
 margin-top: 5%; 
}
/* ---sets text color of caption for picture in overlay--- */
#overlay p {
 color:white; 
}
/* ---alignment of UL and items--- */
.imageGallery {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 1 auto;
  margin: 10px;
  padding: 2px;
}

.imageGallery ul li {
	display: inline-block;
	padding: 5px;
	background:white;
	margin:5px;
}
.imageGallery ul li img {
  display: block;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

/*--- styles for the header ---*/
.header {
  display: flex;
  flex-flow: column;
  padding: 5px;
  color: white;
}

.header h1 {
  margin-bottom: 0em;
}

.header li {
  padding: 5px 0px;
}

/*--- styles for the nav bar appearance ---*/
.linkList a {
  text-decoration: none;
  color: white;
  font-size: 20px; 
}

.linkList a:hover { 
  background-color: #28F4BB;
  border-radius: 10px;
  padding: 10px 10px;
  color: #107156;
}

/*--- styles for the charity page links ---*/
.bodyLinkList li {
  padding: 2px;
}

.bodyLinkList a {
  text-decoration: none;
  color: black;
  align: left; 
}

.bodyLinkList a:hover { 
  background-color: #FF65E1;
  border-radius: 10px;
  padding: 2px;
  color: white;
}

/*--- styles for the site forms appearance ---*/
.form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 10px;
  box-shadow: 0 12px 15px -12px #000;
}

/*--- This is styling the form submission button ---*/
.button {
  background-color: #28F4BB;
  text-align: center;
  font-style: normal;
  border-radius: 15px;
}

/*--- styles for the site forms input fields ---*/
.inputarea {
  width: 250px;
  height: 50px;
}

.fieldset {
  margin-bottom: 30px;
  border: none;
}

/* ================================= 
  Site Containers
==================================== */

/*--- This is the site wrap container which sets some flexbox behavior and top/bottom margins for fixed elements---*/
.sitewrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin-top: 200px;
  margin-bottom: 25px;

}

/*--- This sets the header to the top of the screen in a fixed position and places the box shadow effect---*/
.headerwrap {
  position: fixed;
  top: 0px;
  padding: 5px;
  text-align: center;
  width: 100%;
  background-color: #FF65E1;
  box-shadow: 0 12px 15px -12px #000 ;
}

/*--- This sets the footer to the bottom of the screen in a fixed position and places the box shadow effect---*/
.mainfooter {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background-color: #FF65E1;
  box-shadow: 1px -5px 15px -6px #000 ;
}

/*--- styles for the column divs / images ---*/
.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 1 auto;
  margin: 10px;
  
}

.divImg {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 15px 20px -12px #000 ;
}

.paw {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 532px) {
 /*--- This is the site wrap container which sets some flexbox behavior and top/bottom margins for fixed elements at medium res---*/

  .sitewrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 125px;
    margin-bottom: 25px;
  }
	  .header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 5px;
      justify-content: space-between;
      align-items: flex-start;
    }
      .header ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 5px 0;
      }

        .header li {
          padding: 0px 25px;
        }
        
          .col {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: space-evenly;
           flex: 0 40%;
           margin: 10px;
          }

          /* ---Image Gallery space from top of page--- */
          #overlay {
          background:rgba(0,0,0,0.6);
          width:100%;
          height:100%;
          position:absolute;
          top:0;
          left:0;
          display:none;
          text-align:center;
          }
}

@media (min-width: 762px) {
 /*--- This is the site wrap container which sets some flexbox behavior and top/bottom margins for fixed elements at higher res---*/

 .sitewrap {
    margin-top: 150px;
   }

  .header ul {
    margin: 0.67em 0; 
  }

    .header li {
      padding: 25px;
    }

    .col {
      align-self: flex-start;
      justify-content: center;   
      }

}







